{% load staticfiles %}

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="{% static 'core/js/jquery-2.1.0.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" >
<script src="{% static 'core/js/bootstrap.js' %}" type="text/javascript"></script>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
  </div>
</nav>
<!-- Button trigger modal -->

	</body>

	</html>